.main{
    background-color: whitesmoke;
}
.header1{
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
    
}
body{
    padding:0px 30px;
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
}
.header1a{
    padding: 10px;
    font-size: xx-large;
    color: black;
}
nav ul{
    list-style-type: none;
    color: grey;
    
}
.header1b{
    margin-left: auto;

}
.a1{
    padding: 15px;
    text-decoration: none;
    color:grey;
}
.a2{
    padding:25px;
}
.btn1,.btn2{
    padding:10px;
    margin-right: 30px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius:25px;
    border: none;
    
}
#phone{
    border: none;
    /* border-bottom: 1px solid grey; */
    background-color: inherit;
    outline: none;
    border-bottom: 1px solid darkgray;
    padding:0px 0px 11px 0px;
    font-size: x-large;
}

.btn2{
    background-color: #575e59;
    color: white;
}
.content1{
    padding-left: 3%;
    display: flex;
    

}
.contain1{
    width: 100%;
    margin-top: 5%;
    height: 100%;
    position: relative;
}
.contain1a{
    width: 60%;
    height: auto;
    position:absolute;
    bottom: -40px;
    left: 40px;
    overflow-wrap: break-word;
    background-color:#2a2b30;
    color: white;
    padding: 20px;
}
.contain1 img{
    background-color:whitesmoke;
    padding-bottom: 200px;
    width: 350px;
    height: 300px;

}
.contain1b{
    display: flex;
    justify-content: space-between;
    flex-shrink: inherit;
    align-items: baseline;
}
.star{
    margin-right: 5px;
}
.contain1a>p{
    border-left: 1px solid whitesmoke;
    padding: 3%;
}
.contain2{
    width: 100%;
    margin:auto 0px;
}
.contain2c{
    margin-right: 15px;
}
.contain2d{
    margin-left: 35px;
    margin-right:5px;
}
.content02{
    height: 350px;
    margin-top: 50px;
    margin-left: 10px;
    display: flex;
    justify-content: baseline;
    
}
.content02a{
   padding: 2%;
   font-size: medium;
    
}
.content02ba{
    padding: 2%;
    font-weight: lighter;
    line-height: 2;
}
.hr{
    color: whitesmoke;
}
.content03{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 30px;
    text-align: center;
}
.content03> div:nth-child(even){
    margin-top: 20%;
}
.content03a{
    overflow-wrap: break-word;
}
.exit1{
    color:lightgrey;
    margin-left:5px;
    background-color: whitesmoke;
    border-radius: 50%;
}
.exit2{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: left;
    line-height: 0.3;
}
.content04{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 70px;
    text-align: center;
    /* justify-content: space-around; */
    overflow-wrap: break-word;
    margin:45px 25px;

}
.content04a{
    border: 1px solid lightgrey;
    padding: 40px;
    /* box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23); */
}
.content04c{
    border: 1px solid lightgrey;
    padding: 40px;
    /* box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23); */
}

.content04b:hover{
    border-top: 3px groove lightgrey;
    padding: 50px;
    max-height: 100%;
    box-shadow: 0 10px 10px rgba(0,0,0,0.19), 0 10px 10px  rgba(0,0,0,0.23) ;
}
.btn04{
    background-color: #2a2b30;
    color: whitesmoke;
    padding: 13px 25px;
    border-radius: 25px;
}
.content05{
    display: grid;
    grid-template-columns: auto auto;
    justify-items: baseline;
    margin-top: 50px;
}
.content05a{
    margin: auto;
}
.btn05{
    padding: 11px 75px;
    border-radius: 25px;
    background-color: #2a2b30;
    color: white;
}
.content06{
    padding: 50px 0px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    line-height: 2;
    justify-content: space-around;
    /* align-items:center; */
}
.content06ab{
    border-radius: 25px;
    padding: 10px;
    border: none;
    font-size: large;
    background-color: lightgrey;
}
.plane1{
    padding: 10px;
    border-radius: 50px;
    background-color: grey;
    color: white;
}
.content06aa{
    display: inline-block;
    padding: 5px 10px;
    border-radius: 25px;
    background-color:lightgrey;
    line-height: 1.5;
}
.content07{
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 150px;
    
}
.content07a{
    margin: auto;
    width: 50vw;
}
.content07b{
    /* width: 50vw; */
    display: grid;
    grid-template-rows: auto auto;
    grid-row-gap: 10px;
    
}
.content07ba{
    display: grid;
    grid-template-columns: auto auto;
    grid-row-gap: 15px;
}
.content07bb{
    margin-top: -35px;
}
.content08{
    display: flex;
    align-items: center;
    margin:0px 40px;
}
.content08b{
    padding: 0px 10vw;
}
.content08c{
    padding: 0px 13vw;
    font-size: 40px;
}
.main2{
    box-shadow: 0 -3em 3em rgba(0, 0, 0, 0.1),
    0 0  0 2px rgb(255,255,255) inset;
    margin-top: 80px;
}
